@{
    ViewBag.Title = "O knjižnici";
}
<h2>@ViewBag.Title.</h2>


<p>Web aplikacija digitalne knjižnice.</p>
@Html.ActionLink("Autori", "Index", "Autoris") |
@Html.ActionLink("Izdavači", "Index", "Izdavacis") |
@Html.ActionLink("Posuđivači", "Index", "Posidjivacs") |
@Html.ActionLink("Knjige", "Index", "Knjigas") |
@Html.ActionLink("Pisci knjiga", "Index", "Piscis") |
@Html.ActionLink("Posudili su", "Index", "PosudiliSus")